.background-wrapper {
    height: 100vh; /* Full viewport height */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .overlay {
    position: absolute; /* Position overlay above the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.8); /* Darken the image */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  