.header {
  padding-left: 70px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2); /* Subtle semi-transparent background */
    backdrop-filter: blur(20px); /* Modern glass effect */
    box-sizing: border-box;
    color: white;
    display: flex;
     align-items: center; 
     justify-content: space-between;
     max-width: 1990px;
     margin-left: 0.5rem;
}
@font-face {
  font-family: 'MontserratBlack';
  src: url('./src/fonts/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Enhanced logo styling with animated gradient effect */
.logo {
  font-family: 'MontserratBlack', sans-serif;
    font-size: 33px;
    font-weight: normal; /* Ensure the font is not being overridden */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: -3rem;
    color: white;
}

